<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Usuários</title>
</head>

<body>
    <div class="container">

        <h1 id="header">Criar Usuário</h1>
        <form>
            <div class="form-group">
                <label for="name">Nome:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <div class="form-group">
                <label for="username">Apelido:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
    
            <div class="form-group">
                <label for="mediaUrl">URL da mídia:</label>
                <input type="text" class="form-control" id="mediaUrl" name="mediaUrl" required>
            </div>
    
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
    
            <div class="form-group" id="passwordDiv">
                <label for="password">Senha:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
    
            <div class="form-group">
                <label for="phone">Telefone:</label>
                <input type="text" class="form-control" id="phone" name="phone" required>
            </div>

            <div class="form-group">
                <label for="roles">Funções:</label>
                <div id="roles">
                    
                </div>
            </div>
    
            <button type="submit" class="btn btn-primary" id="submitButton">Criar</button>
        </form>

        <h1>Lista de usuários</h1>

        <ul class="list-group">

        </ul>
    </div>
</body>
<script type="module" src="./script.js"></script>

</html>